@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&family=Roboto:ital,wght@0,300;1,100&display=swap');

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.account:hover {
  cursor: pointer;
}

.navItem:hover {
  cursor: pointer;
  color: rgb(76, 76, 250);
}

.navItem {
  width: 100%;
  font-size: large;
  color: white;
  margin: 5% 0;
}

.messageContainer {
  width: 85vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2% 0;
}

.messages {
  height: 100vh;
}

.placeholder-messages {
  height: 95%;
}

.sendMessageInput:focus {
  outline: none;
}

.navBar {
  background-color: #3F0E40;
  width: 15vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 0px 15px 2px black;
}

.roomInfo {
  width: 90%;
  margin-top: 10%;
}

.navBar-items {
  height: 90%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.link {
  text-decoration: underline;
  color: blue;
}

.link:hover {
  cursor: pointer;
}

.navBar-account {
  height: 10%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0 .5vw;
  width: 100%;
}

.homepage {
  display: flex;
}

.usernameNav {
  color: white;
  margin: 0;
  font-size: small;
}

.divider {
  border: .5px solid rgba(255, 255, 255, 0.767);
  width: 95%;
  margin: 5% 0;
}