@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&family=Roboto:ital,wght@0,300;1,100&display=swap');

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.settingsCog:hover, .account:hover {
  cursor: pointer;
}

.navItem:hover {
  cursor: pointer;
  color: white;
}

.navItem {
  width: 100%;
}

.messageContainer {
  width: 85vw;
  height: 100vh;
  border-left: 5px solid black;
  display: flex;
  flex-direction: column;
}

.placeholder-messages {
  height: 95%;
}

.sendMessageInput:focus {
  outline: none;
}

.navBar {
  background-color: #b02a7d;
  width: 15vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 5%;
}

.navBar-items {
  height: 90%;
}

.link {
  text-decoration: underline;
  color: blue;
}

.link:hover {
  cursor: pointer;
}

.navBar-account {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 .5vw;
}

.homepage {
  display: flex;
}